.playing {
  &__art {
    width: 56px;
    height: 56px;
  }
}

.current-track {
  &__actions {
    & button {
      &:nth-child(3) {
        width: 32px;
        height: 32px;
        transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
        transition-property: all;
        &:hover {
          transform: scale(1.06);
          -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
          transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
          -webkit-transition-property: all;
          transition-property: all;
        }
      }
    }
  }
}
