.logo {
  max-width: 131px;
}
.xsmall {
  font-size: $xsmall-font-size;
}
button,
a {
  color: $secondary-text;
  & svg {
    fill: currentcolor;
    pointer-events: none;
  }
  &:hover {
    color: $white;
  }
}
