.scroll {
  height: 0;
  //height: calc(100vh - 0px);
  // min-height: 0;
  overflow-y: overlay;
  &__small {
    &::-webkit-scrollbar {
      width: 6px;
    }
  }
  &::-webkit-scrollbar {
    background-color: #00000000;
  }
  &::-webkit-scrollbar-track {
    background: #00000000;
  }
  &::-webkit-scrollbar-thumb {
    background: #898989;
  }
}

.logo {
  max-width: 131px;
}
.xsmall {
  font-size: $xsmall-font-size;
}
button,
a {
  color: $secondary-text;
  padding: unset;
  & svg {
    fill: currentcolor;
    pointer-events: none;
  }
  &:hover {
    color: $white;
  }
}

.bg-main {
  background-color: $bg-main;
}

.btn-social {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  &:hover {
    background-color: #727272;
  }
}
.btn-custom {
  width: 32px;
  height: 32px;
  color: $secondary-text;
  & svg {
    fill: currentcolor;
    pointer-events: none;
  }
  &:hover {
    color: $white;
  }
}

a {
  &:hover {
    div {
      opacity: 1;
    }
  }
  div {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s linear;
    &.playlist {
      background: $white;
      color: #000;
    }
    &.like {
      background: linear-gradient(135deg, #450af5, #c4efd9);
    }
  }
}
.playlist {
  &__track {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.navbar {
  height: 73px;
  & .btn-nav-play {
    transition-duration: 33ms;
    &:hover {
      transform: scale(1.04);
    }
  }
}
footer {
  & .site-link {
    width: 210px;
  }
  a {
    text-decoration: none;
    color: #a7a7a7;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
