.hero-image {
  background-image: url("https://i.scdn.co/image/ab676186000010167938c8a51db342dc3f3f8ed1");
  background-attachment: scroll;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  contain: strict;
  height: 30vh;
  min-height: 300px;
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.artVerificato {
  fill: #3d91f4;
}
.following {
  font-size: 5px;
}
.gradient {
  background: rgb(250, 249, 252);
  background: linear-gradient(180deg, rgb(15, 17, 25) 20%, rgb(18, 18, 19) 80%);
}
.imgBrano {
  width: 35px;
}
.imgArtista {
  width: 90px;
  height: 90px;
}
.buttonDiscografia {
  background-color: #232323;
}
.buttonDiscografia:hover {
  background-color: white;
  color: black;
  border: #232323;
}
