.hero-image {
  background-attachment: scroll;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  contain: strict;
  min-height: 400px;
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.artVerificato {
  fill: #3d91f4;
}
.following {
  font-size: 5px;
}
.gradient {
  background: rgb(250, 249, 252);
  background: linear-gradient(180deg, rgb(15, 17, 25) 20%, rgb(18, 18, 19) 80%);
}
.imgBrano {
  width: 35px;
}
.imgArtista {
  width: 75px;
  height: 75px;
}
.buttonDiscografia {
  background-color: #232323;
}

.imgMerchandise {
  width: 60px;
}
